
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bg-color{
    background-color: #f8f9fa;
}


/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 150px;
    
}
.nav-link a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
.home-link{
    font-weight: bold;
}


/* Banner */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    gap: 0px;
}
.banner-text{
    padding-top: 25px;
}
.banner-title{
    font-weight: 900;
    font-size: 4rem;
    line-height: 0.5;
    color: #E95A08;
}
.black{
    color: black;
}
.banner-description{
    font-size: 1.30rem;
    color:rgba(0, 0, 0, 0.5);
}




/* Plants section */
.plant{
    margin: 20px 120px;
    margin-bottom: 200px;
}
.plant-text{
    text-align: center;
}
.plant-title{
    font-size: 3.2rem;
    font-weight: bold;
}
.plant-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
    margin: auto 276px;
}

.plant-card{
    width: 270px;
    height: 480px;
}
.plant-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px 20px;
    margin-top: 40px;
}
.card-name{
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
}
.card-price{
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 10px;
    
}
.card-button{
    width: 100%;
    background-color: #E95A08;
    color: white;
    height: 50px;
    border: none;
}


/* Flower lover */

.flower-lover{
    margin: 100px 120px;
    display: flex;
    gap: 60px;
}
.text{
    margin-left: 60px;
    margin-right: 50px;
}
.flower-title{
    font-weight: 700;
    font-size: 3.125rem;
}
.flower-description{
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}
.flower-img{
    width: 600px;
}
.trust-badge{
    position: absolute;
    width: 200px;
    margin-top: -100px;
    margin-left: -120px;

}



/* challenge section */

.chl-text{
    text-align: center;
    margin: 100px 300px;
}
.chl-title{
    font-size: 3.3rem;
    font-weight: 700;
}
.chl-description{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.5);
}
.chl-pic{
    margin: 100px 150px;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
}

.bg-bloom{
    background-image: url(../assets/deal-bloom.png);
    width: 360px;
    height: 190px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.bg-ana{
    background-image: url(../assets/deal-ana.png);
    width: 360px;
    height: 190px;
    border-radius: 20px;
}
.bg-zabo{
    background-image: url(../assets/deal-zabo.png);
    width: 750px;
    height: 400px;
    border-radius: 20px;
}
.two-pic{
    
}
.bloom{
    display: flex;
    flex-direction:column;
    /* margin-bottom: 0px; */
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.bloom>a{
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}
.ana{
    display: flex;
    flex-direction:column;
    /* margin-bottom: 0px; */
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
}
.ana>a{
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}
.zabo{
    display: flex;
    flex-direction:column;
    /* margin-bottom: 0px; */
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
}
.zabo>a{
    color: white;
    font-weight: 700;
    font-size: 1.75rem;
}



/* Join section */

.join-bg-img{
    background-image:url(../assets/news-letter-bg.png);
    width: 100%;
    height: 530px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-title{
    font-weight: 700;
    font-size: 3.125rem;
    color: white;
}

.textarea-box{
    width: 540px;
    height: 50px;
    border: none;
}
.textarea-button{
    width: 100px;
    height: 53px;
    background-color: #E95A08;
    color: white;
    border: none;
    font-weight: 600;
}
.textarea{
    text-align: center;
}
input[type="email"] {
    padding-left: 20px;
    
}

/* Footer */

footer{
    display: flex; 
    justify-content: space-evenly;
    margin: 100px 150px;
}
.footer-logo{
    width: 330px;
    height: 180px;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}
.footer-link>a{
    text-decoration: none;
    color:#6B7280;
}
.footer-link{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px 110px;
}
.footer-icon{
    width: 210px;
    height: 40px;
    display: flex;
    gap: 24px;
    
}





/* Mobile responsive */

@media screen and (max-width:576px){


    .display-none{
        display: none;
    }
    .navbar{
        margin: 60px 16px;
    }
    .banner{
        flex-direction: column-reverse;
        /* margin: 0px; */
        margin: auto 0px;
    }
    .banner-img{
        width: 100%;   
    }
    .banner-text{
        margin-left: 25px;    
    }
    .banner-title{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 1rem;
    }


    

    .plant-description{
         margin: auto auto;
    }
    .plant-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 80px 50px;
        margin-top: 40px;
    }
    .plant{
        margin: 100px 40px;
    }
    .plant-card{
        width: 170px;
        height: 340px;
    }
    .plant-img{
        width: 170px;
        height: 195px;
    }



    .flower-lover{
        margin: 100px 10px;
        flex-direction: column;
    }
    .flower-img{
        width: 100%;
        margin-bottom: 0px;
    }
    .text{
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .flower-title{
        font-size: 2.5rem;
    }
    .trust-badge{
        display: none;
    }




    .textarea-title{
        font-size: 1.25rem;
    }
    .textarea-box{
        width: 210px;
    }
    .textarea-button{
        width: 80px;
    }
    .join-bg-img{
        width: 100%;
        height: 275px;
        background-repeat: round;
    }



    footer{
        flex-direction: column;
        margin: auto 20px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .footer-link{
        display: flex;
        flex-direction: column;
    }
    .footer-icon{
        margin-top: 30px;
    }




    .chl-text{  
        margin: 0px 30px;
    }
    .chl-pic{
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 30px;
    }
    .bg-bloom{
        width: 100%;
        height: 200px;
        background-repeat: round;
    }
    .bg-ana{
        width: 100%;
        height: 200px;
        background-repeat: round;
    }
    .bg-zabo{
        width: 100%;
        height: 200px;
        background-repeat: round;
    }
    .chl-pic{
        margin-bottom: 40px;
    }


}